  body{
      text-align: center;
      margin:0;
      padding:0;

  }


  .wrapper{
  background-color: white;
  width: 100%;
  border-bottom: black;
  float:left;
  padding-bottom: 10px;
  border-bottom: 5px solid black;

  }

  #header{
      z-index: 99;
      display: block;
      padding: 0;
      margin:0;
      background-color: red;
    
  }
  h1{
      color: black;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 30px;
  }


  #imgcontainer{
      z-index: -1;
      width: 100%;
  padding-top: 10px;
  }

  img{
      width: 100%;

  }

  #search{
      align-items: center;
      width: 50%;
      padding: 10px;
      font-size: 30px;
      background: #2f3640;
      color: whitesmoke;
      border-radius: 40px;

  }

  #text1{
  float:center;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  #search-btn{
      color: hsl(11, 82%, 50%); 
      font-size: 35px;
      border-radius: 50%;
      background-size: 60px 60px;
      cursor: pointer;
  }


  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #2f3640;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2f3640;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

    .btn {
      background-color: #2f3640; /* Blue background */
      border: none; /* Remove borders */
      color: red; /* White text */
      padding: 12px 16px; /* Some padding */
      font-size: 16px; /* Set a font size */
      cursor: pointer; /* Mouse pointer on hover */
      border: 50%;
      position: relative;
      right: 60px;
      bottom:5px;
    }
    .btn {border-radius: 40px;}
    /* Darker background on mouse-over */

  #currentweather{
    margin: 30px;
    background:#000000d0;
    padding:2em;
    border-radius: 30px;
    width: 100%;
    max-width:350px;
    justify-content: center;
    color: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
  
  }
  .temp{
    font-size: 70px;
  }
  .icon{

    width: 140px;
    height: 140px;
  }
  .desc{
    text-transform: capitalize;

  }

  #buttons {
    background-color: #2f3640; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    cursor:pointer; 
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  a{
    text-decoration: none;
    color:white;
    
  }

  #buttons:hover {
    background-color: #1b0707d0;
  }

  #table-container{
  position: absolute;
    top: 900px;
    left:30%; 
    width:1200px;
    height:60%;
  }

  table {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    width: 1200px;
    height:60%;

  }

  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 1000px;

  }

  table tr:nth-child(even){  width: 80%; background-color: #f2f2f2;}


  table tr:hover {  width: 80%; background-color: #ddd;}

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000d0;
    color: white;
  }

  .add1{
    position: absolute;
    top: 834px;
    right: 790px;
    display:block;
    text-align: center;
  margin: 10px;
  padding:10px
  }

#auth{
    background-color: #2f3640; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
  text-align: center;
    font-size: 16px;
    cursor:pointer; 
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


.hidden{
  visibility: hidden;
  }